$bg: #3059ab;
$bg2: #f0f1f3;

$titColor: #000;
$titL2Color: #3059ab;
$txtColor: #fff;
$notesColor: #3059ab;
$linkColor: #fff;
$errColor: red;

$divBg: #ebeef1;
$divBorderColor: #fff;

$inputBorder: #3059ab;

$btnBgColor: #3059ab;
$btnBg2: #3059ab;
$btnFontColor: #fff;
$btnOutlineColor: rgba(0, 0, 0, 0.5);
$btnBoxShadow1: rgb(226, 214, 207);
$btnBoxShadow2: rgb(247, 244, 242);

$tableSeparationColor: #222946;
